<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paokuyouxi_jingxiu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{3,-70}</string>
                <key>spriteSize</key>
                <string>{124,140}</string>
                <key>spriteSourceSize</key>
                <string>{270,320}</string>
                <key>textureRect</key>
                <string>{{540,244},{124,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxi_jingxiu10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-38}</string>
                <key>spriteSize</key>
                <string>{110,198}</string>
                <key>spriteSourceSize</key>
                <string>{270,320}</string>
                <key>textureRect</key>
                <string>{{556,844},{110,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxi_jingxiu11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-5,-39}</string>
                <key>spriteSize</key>
                <string>{110,196}</string>
                <key>spriteSourceSize</key>
                <string>{270,320}</string>
                <key>textureRect</key>
                <string>{{446,844},{110,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxi_jingxiu12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-5,-42}</string>
                <key>spriteSize</key>
                <string>{110,190}</string>
                <key>spriteSourceSize</key>
                <string>{270,320}</string>
                <key>textureRect</key>
                <string>{{136,844},{110,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxi_jingxiu13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{13,-31}</string>
                <key>spriteSize</key>
                <string>{154,208}</string>
                <key>spriteSourceSize</key>
                <string>{270,320}</string>
                <key>textureRect</key>
                <string>{{666,844},{154,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxi_jingxiu14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-20,-50}</string>
                <key>spriteSize</key>
                <string>{136,174}</string>
                <key>spriteSourceSize</key>
                <string>{270,320}</string>
                <key>textureRect</key>
                <string>{{736,670},{136,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxi_jingxiu15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-20,-51}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{270,320}</string>
                <key>textureRect</key>
                <string>{{0,844},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxi_jingxiu16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-48,-23}</string>
                <key>spriteSize</key>
                <string>{154,224}</string>
                <key>spriteSourceSize</key>
                <string>{270,320}</string>
                <key>textureRect</key>
                <string>{{260,1052},{154,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxi_jingxiu17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-48,-23}</string>
                <key>spriteSize</key>
                <string>{160,226}</string>
                <key>spriteSourceSize</key>
                <string>{270,320}</string>
                <key>textureRect</key>
                <string>{{414,1052},{160,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxi_jingxiu18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,-89}</string>
                <key>spriteSize</key>
                <string>{132,114}</string>
                <key>spriteSourceSize</key>
                <string>{270,320}</string>
                <key>textureRect</key>
                <string>{{692,0},{132,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxi_jingxiu19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{13,-82}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{270,320}</string>
                <key>textureRect</key>
                <string>{{200,114},{134,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxi_jingxiu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{5,-68}</string>
                <key>spriteSize</key>
                <string>{114,144}</string>
                <key>spriteSourceSize</key>
                <string>{270,320}</string>
                <key>textureRect</key>
                <string>{{268,526},{114,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxi_jingxiu20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{31,-93}</string>
                <key>spriteSize</key>
                <string>{132,114}</string>
                <key>spriteSourceSize</key>
                <string>{270,320}</string>
                <key>textureRect</key>
                <string>{{824,0},{132,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxi_jingxiu21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{46,-95}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{270,320}</string>
                <key>textureRect</key>
                <string>{{334,114},{134,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxi_jingxiu3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{5,-70}</string>
                <key>spriteSize</key>
                <string>{108,142}</string>
                <key>spriteSourceSize</key>
                <string>{270,320}</string>
                <key>textureRect</key>
                <string>{{538,384},{108,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxi_jingxiu4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{2,-71}</string>
                <key>spriteSize</key>
                <string>{126,140}</string>
                <key>spriteSourceSize</key>
                <string>{270,320}</string>
                <key>textureRect</key>
                <string>{{664,244},{126,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxi_jingxiu5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{2,-68}</string>
                <key>spriteSize</key>
                <string>{120,142}</string>
                <key>spriteSourceSize</key>
                <string>{270,320}</string>
                <key>textureRect</key>
                <string>{{646,384},{120,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxi_jingxiu6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{3,-72}</string>
                <key>spriteSize</key>
                <string>{112,142}</string>
                <key>spriteSourceSize</key>
                <string>{270,320}</string>
                <key>textureRect</key>
                <string>{{766,384},{112,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxi_jingxiu7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-33,-63}</string>
                <key>spriteSize</key>
                <string>{114,152}</string>
                <key>spriteSourceSize</key>
                <string>{270,320}</string>
                <key>textureRect</key>
                <string>{{268,670},{114,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxi_jingxiu8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-36,-63}</string>
                <key>spriteSize</key>
                <string>{120,152}</string>
                <key>spriteSourceSize</key>
                <string>{270,320}</string>
                <key>textureRect</key>
                <string>{{382,670},{120,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxi_jingxiu9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-30}</string>
                <key>spriteSize</key>
                <string>{108,210}</string>
                <key>spriteSourceSize</key>
                <string>{270,320}</string>
                <key>textureRect</key>
                <string>{{152,1052},{108,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxinagan_jingxiu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{77,-68}</string>
                <key>spriteSize</key>
                <string>{256,144}</string>
                <key>spriteSourceSize</key>
                <string>{500,320}</string>
                <key>textureRect</key>
                <string>{{382,526},{256,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxinagan_jingxiu10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{83,-79}</string>
                <key>spriteSize</key>
                <string>{246,130}</string>
                <key>spriteSourceSize</key>
                <string>{500,320}</string>
                <key>textureRect</key>
                <string>{{718,114},{246,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxinagan_jingxiu11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{90,-70}</string>
                <key>spriteSize</key>
                <string>{234,164}</string>
                <key>spriteSourceSize</key>
                <string>{500,320}</string>
                <key>textureRect</key>
                <string>{{502,670},{234,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxinagan_jingxiu12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{141,-37}</string>
                <key>spriteSize</key>
                <string>{152,208}</string>
                <key>spriteSourceSize</key>
                <string>{500,320}</string>
                <key>textureRect</key>
                <string>{{0,1052},{152,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxinagan_jingxiu13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{163,-14}</string>
                <key>spriteSize</key>
                <string>{124,254}</string>
                <key>spriteSourceSize</key>
                <string>{500,320}</string>
                <key>textureRect</key>
                <string>{{574,1052},{124,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxinagan_jingxiu14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{178,6}</string>
                <key>spriteSize</key>
                <string>{120,292}</string>
                <key>spriteSourceSize</key>
                <string>{500,320}</string>
                <key>textureRect</key>
                <string>{{698,1052},{120,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxinagan_jingxiu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{71,-70}</string>
                <key>spriteSize</key>
                <string>{268,142}</string>
                <key>spriteSourceSize</key>
                <string>{500,320}</string>
                <key>textureRect</key>
                <string>{{0,526},{268,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxinagan_jingxiu3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{71,-72}</string>
                <key>spriteSize</key>
                <string>{270,138}</string>
                <key>spriteSourceSize</key>
                <string>{500,320}</string>
                <key>textureRect</key>
                <string>{{0,244},{270,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxinagan_jingxiu4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{72,-69}</string>
                <key>spriteSize</key>
                <string>{266,144}</string>
                <key>spriteSourceSize</key>
                <string>{500,320}</string>
                <key>textureRect</key>
                <string>{{638,526},{266,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxinagan_jingxiu5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{71,-69}</string>
                <key>spriteSize</key>
                <string>{268,140}</string>
                <key>spriteSourceSize</key>
                <string>{500,320}</string>
                <key>textureRect</key>
                <string>{{0,384},{268,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxinagan_jingxiu6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{71,-71}</string>
                <key>spriteSize</key>
                <string>{270,138}</string>
                <key>spriteSourceSize</key>
                <string>{500,320}</string>
                <key>textureRect</key>
                <string>{{270,244},{270,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxinagan_jingxiu7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{69,-70}</string>
                <key>spriteSize</key>
                <string>{270,140}</string>
                <key>spriteSourceSize</key>
                <string>{500,320}</string>
                <key>textureRect</key>
                <string>{{268,384},{270,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxinagan_jingxiu8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{71,-69}</string>
                <key>spriteSize</key>
                <string>{268,144}</string>
                <key>spriteSourceSize</key>
                <string>{500,320}</string>
                <key>textureRect</key>
                <string>{{0,670},{268,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paokuyouxinagan_jingxiu9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{80,-75}</string>
                <key>spriteSize</key>
                <string>{250,128}</string>
                <key>spriteSourceSize</key>
                <string>{500,320}</string>
                <key>textureRect</key>
                <string>{{468,114},{250,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-map1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{38,0},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-map2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{56,0},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-map3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{74,0},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-map4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{92,0},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-map5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{110,0},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-map6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{128,0},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>模块1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-60,41}</string>
                <key>spriteSize</key>
                <string>{80,32}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{282,0},{80,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>模块12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-62,59}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>模块13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-42,55}</string>
                <key>spriteSize</key>
                <string>{30,34}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{530,0},{30,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>模块14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-47,57}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{24,0},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>模块15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-55,45}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{10,0},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>模块16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-29,61}</string>
                <key>spriteSize</key>
                <string>{60,32}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{436,0},{60,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>模块17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-4,11}</string>
                <key>spriteSize</key>
                <string>{132,48}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{560,0},{132,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>模块18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,194}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{246,844},{200,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>模块19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,35}</string>
                <key>spriteSize</key>
                <string>{200,116}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{0,114},{200,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>模块2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-61,38}</string>
                <key>spriteSize</key>
                <string>{74,32}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{362,0},{74,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>模块3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-9,-8}</string>
                <key>spriteSize</key>
                <string>{112,28}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{170,0},{112,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>模块4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-14,21}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{146,0},{24,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>模块5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-83,83}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{496,0},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{964,1344}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eeef8133545cf0fc60e9b3fced61f9e1:f87571448d54e6dfc2ba6ed867e004cc:f616a3d98e77bd582512848ffa404707$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
